.game_title {
  display: inline-block;


}
li {
background: url("images/menuSep.png") no-repeat right bottom;
padding-right: 2px;
list-style-type: none;
}
.map{
  margin: 0 auto;
  text-align: center;
}
.sector {
  display: inline-block;
  background: rgb(199, 199, 156);
  position: sticky;
  width: 10px;
  height: 10px;
  margin: 0;
}
